*{
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(201, 196, 224);
    
  }
  i{
    color: rgb(201, 196, 224);
    margin: 10px;
    font-size: 25px;
    margin-top: 5px;

    
  }
  h1{
      margin-top: 5px;
  }
  .header{
      display: flex;
      justify-content: space-between;
      font-size: 25px;
     
  
  }
  .icons{
      position: absolute;
      left: 1310px;
      padding: 33px;
      
      padding-top: 15px;
      padding-right: 0px;
      
      
  }
  .secondone{
      height: 400px;
      width: 500px;
      border: none;
      padding: 20px;
      margin-top: 150px;
      margin-left: 200px;
  
  }
  
  .price{
      display: flex;
      margin: 20px;
      margin-left: 0px;
      font-size: 20px;
  }
  .price>.rocp{
    text-decoration: line-through;
    color: #373434;
  }

  .two{
    font-size: 50px;
}

  h3{
  
      margin: 10px;
  }
  .shop{
          height: 40px;
          width: 130px;
          background-color:red ;
          color: white;
          border: none;
          border-radius: 5px;
  }
  img{
      height: 500px;
      width: 500px;
      margin-top: 140px;
      margin-left: 100px;
  }
  .first{
    display: flex;
}
  .dotone{
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #3d3b3b;
      margin: 5px;
  }.dottwo{
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: red;
      margin: 5px;
  }
  .dotthree{
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #373434;
      margin: 5px;
  }
  
  .dots3{
      display: flex;
      justify-content: center;
      padding: 10px;
  }
  
  .fp{
      font-size: 35px;
      text-align: center;
  
  }
  
  
  
  
  .row{
         
          width: 100%;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          justify-content: space-between;
  
  
  }
  .cardone{
     
      width: 200px;
     
  }
  .cardone>.uphead{
          text-align: center;
          font-size: 5px;
          color: rgb(200, 200, 200);
          margin-top: 100px;
  
  }
  .cardone>img{
      height: 100px;
      width: 120px;
     margin-top: 10px;
      margin-left: 40px;
      
  }
  .cardone>.costone{
      text-align: center;
      display: flex;margin: 10px;
      margin-left: 60px;
      font-size: 9px;
  }
  .cardone>.costone>.rocp{
  font-size: 15px;
  margin-top: 5px;
  text-decoration: line-through;
  color: #373434;
  }
  
  
  
  
  
  .cardtwo{
     
      width: 250px;
      
      
  }
  .cardtwo>.uphead{
          text-align: center;
          font-size: 15px;
          color: rgb(220, 223, 223);
          margin-top: 50px;
  
  }
  .cardtwo>img{
      height: 150px;
      width: 170px;
      margin-top: 30px;
      margin-left: 40px;
      
  }
  
  .cardtwo>.costtwo{
      text-align: center;
      display: flex;margin: 20px;
      margin-left: 60px;
      font-size: 10px;
  }
  
  
  .cardtwo>.costtwo>.rocp{
      font-size: 15px;
      margin-top: 15px;
     text-decoration: line-through;
      color: #3d3b3b;
      }
  
  
  
  .cardthree{
     
      width: 300px;
      margin-left: 50px;margin-right: 50px;
  }
  .cardthree>.uphead{
          text-align: center;
          font-size: 20px;
          color: rgb(200, 200, 200);
  }
  .cardthree>img{
      height: 200px;
      width: 170px;
      margin-top: 20px;
      margin-left: 60px;
      
  }
  .cardthree>.costthree{
      text-align: center;
      display: flex;margin: 20px;
      margin-left: 60px;
  }
  .cardthree>.costthree>.rocp{
  font-size: 15px;
  margin-top: 15px;
  text-decoration: line-through;
  color: #3d3b3b;

  }
  
  
  
  .cardfour{
     
      width: 250px;
      
      
  }
  .cardfour>.uphead{
          text-align: center;
          font-size: 15px;
          color: rgb(200, 200, 200);
          margin-top: 50px;
  
  }
  .cardfour>img{
      height: 150px;
      width: 170px;
      margin-top: 30px;
      margin-left: 40px;
      
  }
  
  .cardfour>.costfour{
      text-align: center;
      display: flex;margin: 20px;
      margin-left: 60px;
      font-size: 10px;
  }
  .cardfour>.costfour>.rocp{
  font-size: 15px;
  margin-top: 15px;
  text-decoration: line-through;
  color: #3d3b3b;
  }
  
  
  
  
  .cardfive{
     
      width: 200px;
     
  }
  .cardfive>.uphead{
          text-align: center;
          font-size: 10px;
          color: rgb(200, 200, 200);
          margin-top: 100px;
  
  }
  .cardfive>img{
      height: 100px;
      width: 120px;
     margin-top: 10px;
      margin-left: 40px;
      
  }
  .cardfive>.costfive{
      text-align: center;
      display: flex;margin: 20px;
      margin-left: 60px;
      font-size: 9px;
  }
  .cardfive>.costfive>.rocp{
  font-size: 15px;
  margin-top: 15px;
  text-decoration: line-through;
  color: #3d3b3b;


  }
  .d1{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 5px;
    margin: 5px;
  }
  .d2{
    height: 10px;
    width: 10px;
    background-color:grey;
    border-radius: 5px;
    margin: 5px;
  }
  .d3{
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
  }
  .d4{
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
  }
  .d5{
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
  }
.dots5{
    display: flex;
    justify-content: center;
}
.tp{
    text-align: center;
    font-size: 30px;
}
.header2{
    display: flex;
    justify-content: space-evenly;
}
.all{
    background: red;
    height: 20px;
    width: 50px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.cards{
      width: 1650px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.productcard{
    width: 355px;
    height: 600px;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 10px;;
     margin: 10px;
     padding: 10px; 
 
 
 }
 
 
 
 
 .productcard img{
     width: 100%;
     height: 300px;
     
     margin-top: 0px;
     margin-left: 0px;
     background-color: #212121;
     padding: 0%;
 
 }

 
 .redstar {
     color: red;
     font-size: 35px; 

 }
 .pera{
    width: 150px;
    
 }
 .cost1{
    display: flex;
    

 }
 .price2{
    text-decoration: line-through;
    color: #3d3b3b;
 }
 .but>button{
    width: 350px;
    height: 50px;
   
    background-color: red;
    
    margin-top: 10px;
   
    border-radius: 5px;
   
 }


 .ra{
    text-align: center;
    margin-top: 260px;
    font-size: 50px;

 }
 .fp{
    justify-content: center;
    margin-left: 50px;
    margin-top: 200px;

 }
 .smellbox{

    height: 100px;
    width: 350px;
    
    margin-top: 30px;
    

 }
.minibox{
    display: flex;
    margin-top: 0px;

    
}

.minibox>i{
    margin-top: 40px;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 30px;
    color: red;
}

.smell{

    display: flex;
    justify-content: center;
}


.footer>.one{
    height: 400px;
    width: 335px;
   
    padding: 10px;
    margin-left: 60px;


}


.lost{
height: 50px;
width: 180px;
background-color:red ;
color: white;
border: none;
border-radius: 3px;
margin-top: 10px;



}


.one>h2{
    font-size: 40px;
    }
    .one>p{
    font-size: 20px;
    color: rgb(117, 118, 120)
    }
    .one>input{
    height: 40px;
    width: 330px;
    margin-bottom: 10px;
    border: 1px solid white;
    font-size: 25px;
    }
    
    
    
    .twee{
    height: 400px;
    width: 335px;
    
    padding: 10px;
    margin-left: 60px;
    }
    .twee>h2{
        font-size: 30px;
        }
        
        .twee>p{
        font-size: 20px;
        color: rgb(117, 118, 120);
        margin-top: 30px;
        
        }
        
        
        .footer{
        display: flex;
        justify-content: center;
        
        }
        
        .titti{
        display: flex;
        
        }
        .titti>p{
            color: antiquewhite;
        }
        .titti>div>i{
        margin-left: 40px;
        color:antiquewhite;
        }
        .titti>div{
        margin-left: 800px;
        }


